/.cache
/credits
/data
/debug
/defaultconfigs
/disabled
/downloads
/kiwipacks
/local
/map_atlases
/schematics
/shaderpacks
/resourcepacks
/wailt
/logs
/crash-reports
/screenshots
/mods
/modernfix
/saves
/options.txt
/usercache.json
/usernamecache.json
/.mixin.out
/command_history.txt
/ears-debug.log
/fabricloader.log
/realms_persistence.json
/servers.dat
